<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour Tableau de bord</a></li>
                <li><a href="/catway/catwaysList">Liste des catways</a></li>
                <li><a href="/booking/bookingsList">Liste des réservations</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Réservation <%= booking.clientName %></h1>
            <span>Numéro de catway : <%= booking.catwayNumber %></span>
            <span>Nom du client : <%= booking.clientName %></span>
            <span>Nom du bateau : <%= booking.boatName %></span>
            <span>Date d'arrivée : <%= booking.checkIn %></span>
            <span>Date de départ : <%= booking.checkOut %></span>
        </div>
    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>
</body>
</html>