<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des réservations</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour Tableau de bord</a></li>
                <li><a href="/catway/catwaysList">Liste des catways</a></li>
                <li><a href="/booking/bookingsList">Liste des réservations</a></li>
                <form action="/user/logout" method="post">
                    <button type="submit">Déconnexion</button>
                </form>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Listes des réservations</h1>
        <table>
        <thead>
            <tr>
                <th>Numéro du catway</th>
                <th>Client</th>
                <th>Nom du bateau</th>
                <th>Date d'arrivée</th>
                <th>Date de départ</th>
            </tr>
        </thead>
        <tbody>
            <% bookings.forEach(booking =>{ %>
            <tr>
                <td><%= booking.catwayNumber %></td>
                <td><%= booking.clientName %></td>
                <td><%= booking.boatName %></td>
                <td><%= booking.checkIn ? new Date(booking.checkIn).toLocaleDateString('fr-FR') : '' %></td>
                <td><%= booking.checkOut ? new Date(booking.checkIn).toLocaleDateString('fr-FR') : '' %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>
</body>
</html>