<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catways</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour Tableau de bord</a></li>
                <li><a href="/catway/catwaysList">Liste des catways</a></li>
                <li><a href="/booking/bookingsList">Liste des réservations</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%= title %></h1>
        <table>
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Type</th>
                    <th>État</th>
                    <th>Détail Catway</th>
                </tr>
            </thead>
            <tbody>
                <% catways.forEach(catway =>{ %>
                <tr>
                    <td><%= catway.catwayNumber %></td>
                    <td><%= catway.type %></td>
                    <td><%= catway.catwayState %></td>
                    <td><a href="/catway/<%= catway._id %>">Détail catway</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>
</body>
</html>