<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour Tableau de bord</a></li>
                <li><a href="/catway/catwaysList">Liste des catways</a></li>
                <li><a href="/booking/bookingsList">Liste des réservations</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <% if (error) { %>
        <p style="color:red;"><%= error %></p>
        <% } %>
        <h1>Bienvenue <%= user.name %></h1>

        <section class="utilisateur">
            <h2>Utilisateur</h2>

            <form action="/user/create" method="post">
                <h3>Créer un utilisateur</h3>
                <input type="text" name="name" placeholder="Nom" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit">Créer</button>
            </form>

            <form action="/user/update" method="post">
                <h3>Modifier un utilisateur</h3>
                <select name="id" required>
                    <% users.forEach(user => { %>
                        <option value="<%= user._id %>">
                            <%= user.name %> (Id : <%= user._id %>)
                        </option>
                    <% }) %>
                </select>
                <input type="text" name="newName" placeholder="Nouveau nom" required>
                <input type="email" name="newEmail" placeholder="Nouvel email" required>
                <input type="password" name="newPassword" placeholder="Mot de passe" required>
                <button type="submit">Modifier</button>
            </form>

            <form method="POST" action="/user/delete" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet utilisateur ?')">
                <h3>Supprimer un utilisateur</h3>
                <select name="id" required>
                    <% users.forEach(user => { %>
                        <option value="<%= user._id %>">
                            <%= user.name %> (Id : <%= user._id %>)
                        </option>
                    <% }) %>
                </select>
                <button type="submit">Supprimer</button>
            </form>
        </section>

        <section class="catway">
            <h2>Catway</h2>

            <form action="/catway/create" method="POST">
                <h3>Créer un catway</h3>
                <input type="text" name="catwayNumber" placeholder="N° du catway" required>
                <select name="type" required>
                    <option value="long">Long</option>
                    <option value="short">Court</option>
                </select>
                <input type="text" name="catwayState" placeholder="État du catway" required>
                <button type="submit">Créer</button>
            </form>

            <form id="catway-search-form">
                <h3>Rechercher un catway par Id</h3>
                <select name="id" id="catway-id-select" required>
                    <% catways.forEach(catway => { %>
                        <option value="<%= catway._id %>">
                            N° du catway : <%= catway.catwayNumber %> (Id : <%= catway._id %>)
                        </option>
                    <% }) %>
                </select>
                <button type="submit">Rechercher</button>
            </form>

            <form action="/catway/partialUpdate" method="POST">
                <h3>Modifier un catway</h3>
                <select name="id" required>
                    <% catways.forEach(catway => { %>
                        <option value="<%= catway._id %>">
                            N° du catway : <%= catway.catwayNumber %> (Id : <%= catway._id %>)
                        </option>
                    <% }) %>
                </select>
                <input type="text" name="catwayState" placeholder="Nouvel état" required>
                <button type="submit">Modifier</button>
            </form>$

            <form action="/catway/update" method="POST">
                <h3>Modifier un catway</h3>
                <select name="id" required>
                    <% catways.forEach(catway => { %>
                        <option value="<%= catway._id %>">
                            N° du catway : <%= catway.catwayNumber %> (Id : <%= catway._id %>)
                        </option>
                    <% }) %>
                </select>
                <input type="text" name="catwayNumber" placeholder="Nouveau N° du catway" required>
                <select name="type" required>
                    <option value="long">Long</option>
                    <option value="short">Court</option>
                </select>
                <input type="text" name="catwayState" placeholder="Nouvel état du catway" required>
                <button type="submit">Modifier</button>
            </form>
                
            <form action="/catway/delete" method="POST" onsubmit="return confirm('Êtes-vous sur de vouloir supprimmer catway id: <%= id %> ?')">
                <h3>Supprimer un catway</h3>
                <select name="id" required>
                    <% catways.forEach(catway => { %>
                        <option value="<%= catway._id %>">
                            N° du catway : <%= catway.catwayNumber %> (Id : <%= catway._id %>)
                        </option>
                    <% }) %>
                </select>
                <button type="submit">Supprimer</button>
            </form> 
        </section>

        <section>
            <h2>Réservation</h2>
            <form id="booking-search-form">
                <h3>Rechercher une réservation par Id</h3>
                <select name="id" id="booking-id-select" required>
                    <% bookings.forEach(booking => { %>
                        <option value="<%= booking._id %>">
                            <%= booking.clientName %> - (Id : <%= booking._id %>)
                        </option>
                    <% }) %>
                </select>
                <button type="submit">Voir la réservation</button>
            </form>

            <form action="/booking/create" method="POST">
                <h3>Créer une réservation</h3>
                 <select name="catwayNumber" id="catwayNumber" required>
                    <% catways.forEach(catway => { %>
                        <option value="<%= catway.catwayNumber %>">
                           N° du catway: <%= catway.catwayNumber %> 
                        </option>
                    <% }) %>
                </select>
                <input type="text" name="clientName" placeholder="Nom du client" required>
                <input type="text" name="boatName" placeholder="Nom du bateau" required>
                <input type="date" name="checkIn" placeholder="Date d'arrivée" required>
                <input type="date" name="checkOut" placeholder="Date de départ" required>
                <button type="submit">Créer</button>
            </form>

             <form action="/booking/update" method="POST">
                <h3>Modifier une réservation</h3>
                  <select name="id" id="booking-id-select" required>
                    <% bookings.forEach(booking => { %>
                        <option value="<%= booking._id %>">
                            <%= booking.clientName %> - (Id : <%= booking._id %>)
                        </option>
                    <% }) %>
                </select>
                <input type="text" name="clientName" placeholder="Nouveau nom du client" required>
                <input type="text" name="boatName" placeholder="Nouveau nom du bateau" required>
                <input type="date" name="checkIn" placeholder="Nouvel date d'arrivée" required>
                <input type="date" name="checkOut" placeholder="Nouvel date de départ" required>
                <button type="submit">Modifier</button>
            </form>

            <form action="/booking/delete" method="POST" onsubmit="return confirm('Confirmez-vous la suppression de cette réservation ?');">
                <h3>Supprimer une Réservation</h3>
                <select name="id" id="booking-id-select" required>
                        <% bookings.forEach(booking => { %>
                            <option value="<%= booking._id %>">
                                <%= booking.clientName %> - (Id : <%= booking._id %>)
                            </option>
                        <% }) %>
                </select>
                <button type="submit">Supprimer</button>
            </form>
        </section>
    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>    
    <% if (successMsg) { %>
    <script>
        alert("<%= successMsg %>"); 
    </script>
    <% } %>
    <script>
    const catwayForm = document.getElementById('catway-search-form');
    if (catwayForm) {
        catwayForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const id = document.getElementById('catway-id-select').value;
            window.location.href = '/catway/' + id;
        });
    }

    const bookingForm = document.getElementById('booking-search-form');
    if (bookingForm) {
        bookingForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const id = document.getElementById('booking-id-select').value;
            window.location.href = '/booking/' + id;
        });
    }
    </script>
</body>
</html>